body {background-color: seashell;}
button {
    background-color: midnightblue;
    color: white;
    border: 1px solid black;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 6px 10px;
    margin: 10px 0;
}